:host {
  display: block;
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-white {
  color: white;
}

.m-0 {
  margin: 0;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
